@import play.mvc.Http.Request

@import play.mvc.Http.Request

@(implicit request: Request)

<!DOCTYPE html>
<html>
    <head>
        <title>Mon jeu</title>
        @Html("""
<script type="importmap">
{
    "imports": {
        "pixi.js": "https://cdn.jsdelivr.net/npm/pixi.js@8/dist/pixi.min.mjs"
    }
}
</script>
""")
    </head>
    <body>

        <div id="view-lobby">
            <div id="message"></div>
            <button id="btn-historique">Historique</button>
            <button id="btn-jouer">Jouer</button>
        </div>

        <div id="view-waiting" style="display:none;">
            <p>En file d'attente...</p>
        </div>

        <div id="view-historique" style="display:none;">
            <h2>Historique</h2>
            <ul id="historique-list"></ul>
            <button id="btn-retour-historique">Retour</button>
        </div>

        <div id="view-game" style="display:none;"></div>
        <script type="module">
                import { setupLobby } from "@routes.Assets.versioned("javascripts/lobby.js")";
                setupLobby("@request.session().get("userId").orElse("")");
        </script>
    </body>
</html>
