@import play.mvc.Http.Request
@import model.User
@import controllers.form.UserRegisterForm
@(users: Seq[User], form: Form[UserRegisterForm])(implicit request: Request, messages: play.i18n.Messages)

@main("Login") {

    <h1>Login</h1>

    @* Flash shows updates to a page TODO artefact a enlever une fois que l'on a la DB et que on par en quelque chose de plus pro (ca affiche littéralement le mot de passe)*@
    @request.flash.asScala().data.map { case (email, password) =>
    <div class="@email">@email</div>
    }

    <table>
        <thead>
            <tr><th>Email</th><th>Password</th>
        </thead>
        <tbody>
        @for(u <- users ) {
            <tr><td>@u.email</td><td>@u.password</td></tr>
        }
        </tbody>
    </table>

    <hr/>

    @* Global errors are not tied to any particular form field *@
    @if(form.hasGlobalErrors) {
        @form.globalErrors.asScala.map { (error: play.data.validation.ValidationError) =>
            <div>
                @error.key: @error.message
            </div>
        }
    }

    @helper.form(routes.HomeController.registerIn()) {
        @helper.CSRF.formField

        @helper.inputText(form("email"))

        @helper.inputText(form("username"))

        @helper.inputText(form("firstName"))

        @helper.inputText(form("lastName"))

        @helper.inputText(form("password"))

        @helper.inputText(form("repeatPassword"))

        <button type="submit">Create user</button>
    }

}
